@import "variables";

html, body {
    font-size: 14px;
    line-height: 18px;
}

input[type="text"], input[type="password"] {
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    color: #262626;
    font-size: 12px;
    outline: none;
    height: 20px;
    padding: 3px 10px 3px 10px;
    background-color: #fafafa;
}

.test {
    padding: 10px;
    color: #fff;
    background: red;
    font-size: 14px;
}

//a {
//    text-decoration: none;
//    color: $color-text-common;
//
//    &:hover {
//        text-decoration: underline;
//    }
//}
