@import 'variables';

$screen-tablet: 700px;
$header-height: 83px;
header.top-header {
  background-color: #fff;
  border-bottom: 1px solid $color-border;
}
header.top-header > nav:nth-child(1) {
  max-width: 1010px;
  margin: 0 auto;
  padding: 0 10px;

  height: $header-height;
  // 각 div내의 a요소들은 height와 line-height를
  // 같은 값으로 가져 수직중앙정렬되도록 함
  // img요소는 vertical-align에 middle속성으로 수직중앙정렬
  .nav-item {
    height: $header-height;
    line-height: $header-height;
  }
  .nav-item > a {
    height: $header-height;
    line-height: $header-height;
    display: inline-block;

    > img {
      vertical-align: middle;
    }
  }
  .nav-left {
    float: left;
    margin-right: 20px;
    width: 182px;
  }
  .nav-center {
    width: 147px;
    float: left;
  }
  @media screen and (max-width: $screen-tablet) {
    .nav-center {
      display: none;
    }
  }
  .nav-right {
    width: 150px;
    float: right;
    a {
      padding: 0 10px;
    }
  }
}
header.top-header > nav:nth-child(2) {
  border-top: 1px solid $color-border;
  padding: 8px 0;
  text-align: right;

  > div {
    max-width: 1010px;
    margin: 0 auto;
  }
}

form.form-inline-login {
  font-size: 11px;

  label {
    margin-right: 5px;
  }
  input {
    padding: 5px 8px;
    font-size: 11px;
    margin-right: 6px;
  }
}
.container {
  max-width: 1010px;
  margin: 0 auto;
  padding-top: 40px;
  @media screen and (max-width: $screen-tablet) {
    padding-top: 0;
  }
}
.container > .content {
  padding: 10px;
}