@import 'variables';

$screen-tablet: 700px;
$header-height: 83px;
header.top-header {
  background-color: #fff;
  border-bottom: 1px solid $color-border;
}
header.top-header > nav:nth-child(1) {
  max-width: 1010px;
  margin: 0 auto;
  padding: 0 10px;

  height: $header-height;

  .nav-item {
    height: $header-height;
    line-height: $header-height;
  }
  .nav-item > a {
    height: $header-height;
    line-height: $header-height;
    display: inline-block;

    > img {
      vertical-align: middle;
    }
  }
  .nav-left {
    float: left;
    margin-right: 20px;
    width: 182px;
  }
  .nav-center {
    width: 147px;
    float: left;
  }
  @media screen and (max-width: $screen-tablet) {
    .nav-center {
      display: none;
    }
  }
  .nav-right {
    width: 150px;
    float: right;
    a {
      padding: 0 10px;
    }
  }
}
header.top-header > nav:nth-child(2) {
  border-top: 1px solid $color-border;
  padding: 8px 0;
  text-align: right;

  > div {
    max-width: 1010px;
    margin: 0 auto;
  }
}

form.form-inline-login {
  font-size: 11px;

  label {
    margin-right: 5px;
  }
  input {
    padding: 5px 8px;
    font-size: 11px;
    margin-right: 6px;
  }
}

.message {
  position: fixed;
  width: 50%;
  left: 3%;
  top: 3%;
  padding: 20px;
  border: 1px solid #333;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
  text-align: center;
}
.container {
  max-width: 1010px;
  margin: 0 auto;
  padding-top: 40px;
  @media screen and (max-width: $screen-tablet) {
    padding-top: 0;
  }
}
.container > .content {
  padding: 10px;
}

.content-profile {
  float: right;
  width: 450px;
  padding-right: 20px;
}

.username-profile {
    float: left;
  font-size: 30px;
  padding: 0;
}

.profile-photo {
  clear: both;
}

div > p.list-title {
    font-size: 20px;
  clear: both;
}

.pages {
    margin: 0 auto;
  max-width: 600px;
      //display: inline-block;
    //  margin-left: auto;
    //margin-right: auto;
    //align-content: center;
  //align-items: center;
  //  left: 50%;
  padding: 30px;
  .page-inline {
    //margin-left: auto;
    //margin-right: auto;
    //text-align: center;
    //margin: 0 auto;
    //    left: 50%;
    //    align-content: center;
       a {
  color: red;
     //float: left;
     //padding: 20px;
     //        text-align: center;

  //align-content: center;
  //margin: 0 auto;
  //       display: inline-block;
  //    margin-left: auto;
  //  margin-right: auto;
  //  align-content: center;
  //align-items: center;
  //  left: 50%;
}
  }


}
