@import 'variables';

.profile-img {
  width: 150px;
  float: left;
  padding: 30px 50px;
  margin-left: 30px;
    //  padding-left: 50px;
    //padding-top: 30px;
  //border-radius: 50px;
  img {
    border-radius: 50%;
  }
}

.content-profile {
  float: right;
  width: 650px;
  padding-right: 20px;
  margin-bottom: 40px;
}

.username-profile {
    float: left;
  font-size: 30px;
  padding: 0;
}

.photo {
  clear: both;
}
ul.profile-photo {
  font-size: 0;
  margin-left: -10px;
  margin-right: -10px;

  li {
    //clear: both;
    display: inline-block;
    //width: calc(100%/3);
    box-sizing: border-box;
    padding: 10px;

    img {
          //clear: both;
      //width: 100%;
      width: calc(100%/3);
      //padding: 10px;
    }
    }
}


div > p.list-title {
    font-size: 20px;
  clear: both;
}

a.profile-edit-btn {
  margin-top: 22px;
  margin-left: 10px;
}
