{% extends 'common/base.html' %}

{% block content %}
    <div class="content">
        <h2>{{ cur_user.username }}</h2>

        {% if cur_user != user %}
            {% if cur_user in user.following %}
                <button class="btn" type="submit">Unfollow</button>
            {% else %}
                <button class="btn" type="submit">Follow</button>
            {% endif %}
        {% endif %}

        <h3>Following list</h3>
        {% for follow in cur_user.following %}
            <div>
                <a href="{% url "member:profile" user_pk=follow.pk %}">{{ follow }}</a>
            </div>
        {% endfor %}

        <h3>Followers list</h3>
        {% for follower in cur_user.followers %}
            <div>
                <a href="{% url "member:profile" user_pk=follower.pk %}">{{ follower }}</a>
            </div>
        {% endfor %}
    </div>


{% endblock %}