<article class="post">
    <header>
        <div class="post-header-left">
            <img src="" alt="">
            <span>{{ post.author }}</span>
        </div>

        <div class="post-header-right">

        </div>
    </header>

    <div class="post-photo-container">
{#        # type = 'list'라는 변수에 따라 a 태그 활성/비활성#}
        {% if type == 'list' %}
            <a href="{% url 'post:post_detail' post.pk %}">
        {% endif %}
        <img src="{{ post.photo.url }}" alt="">
        {% if type == 'list' %}
            </a>
        {% endif %}
    </div>

    <div class="post-btn-container">
        <a href="#">
            <img src="" alt="">
        </a>
        <a href="#">
            <img src="" alt="">
        </a>
    </div>
    <p>좋아요 {{ post.like_count }}개</p>
    <div class="post-comment-container">
        {% for comment in post.comment_set.all %}
            <div class="post-comment">
                <a href="" class="comment-author">{{ comment.author }}</a>
                <span class="comment-content">{{ comment.content }}</span>
                <a href="" class="comment-tag"></a>
{#                <p class="comment-created">{{ comment.created_date }}</p>#}
            </div>
        {% endfor %}
    </div>
    <p class="created"><a href="{% url "post:post_detail" post.pk %}">{{ post.created_date }}</a></p>

    <form class="" action="" method="">
        <input type="text" placeholder="댓글달기">
    </form>
    
</article>
