{% load static %}
<article class="post">
    <header>
        <div class="post-header-left">
            <img src="" alt="">
            <span class="header-author">{{ post.author }}</span>
        </div>

        <div class="post-header-right">

        </div>
    </header>

    <div class="post-photo-container">
{#        # type = 'list'라는 변수에 따라 a 태그 활성/비활성#}
        {% if type == 'list' %}
            <a href="{% url 'post:post_detail' post.pk %}">
                <img src="{{ post.photo.url }}" alt="">
            </a>
        {% else %}
            <img src="{{ post.photo.url }}" alt="">
        {% endif %}
    </div>
  <div class="post-bottom">
    <div class="post-btn-container clearfix">
        <div class="btn-left">
            <a href="#">
                <img src="{% static 'images/post-heart.png' %}" alt="">
            </a>
            <a href="#">
                <img src="{% static 'images/post-comment.png' %}" alt="">
            </a>
        </div>

        <div class="btn-right">
            {% if user == post.author %}
            <a href="{% url 'post:post_modify' post_pk=post.pk %}" class="btn">MODIFY</a>
            <form action="{% url 'post:post_delete' post_pk=post.pk %}" method="POST" class="form-inline">
                {% csrf_token %}
                <button type="submit" class="btn">DELETE</button>
            </form>
            {% endif %}
        </div>
    </div>


    <p class="comment">좋아요 {{ post.like_count }}개</p>

    <div class="post-comment-container">
{#        자기코멘트 따로 빼내기#}
        {% if post.my_comment %}
            {% include 'include/post_comment.html' with comment=post.my_comment style='red' %}
        {% endif %}

        {% for comment in post.comment_set.all %}
            {% if comment != post.my_comment %}
                {% include 'include/post_comment.html' %}
            {% endif %}
        {% endfor %}
    </div>

    <p class="created">
        <a href="{% url "post:post_detail" post.pk %}">{{ post.created_date }}</a>
    </p>

    <form class="comment" action="{% url 'post:comment_create' post_pk=post.pk %}" method="POST">
        {% csrf_token %}
        <input type="text" placeholder="댓글달기" class="input-comment" name="comment_field">
        <button type="submit" class="btn">POST</button>
    </form>




  </div>
</article>
