 <div class="post-comment" {% if style == 'red' %}style="color: red;"{% endif %}>
        <a href="" class="comment-author">{{ comment.author }}</a>
        <span class="comment-content">{{ comment.content }}</span>
{#        <span>{{ comment.pk }}</span>#}
        {% if comment.author == request.user %}
            <form action="{% url 'post:comment_delete' comment_pk=comment.pk %}?next={{ request.path }}#post-{{ comment.post.pk }}" method="POST" class="form-inline">
            {% csrf_token %}
                <button class="btn" type="submit">DELETE</button>
            </form>

            <a href="{% url 'post:comment_modify' comment_pk=comment.pk %}?next={{ request.path }}#post-{{ comment.post.pk }}"  class="btn">MODIFY</a>
        {% endif %}
        <a href="" class="comment-tag"></a>
{#                <p class="comment-created">{{ comment.created_date }}</p>#}
</div>