{% extends 'post/post_base.html' %}

{% block content %}

    {% for post in posts %}
        <div>
            <p>{{ post.author }}</p>
            <img src="{{ post.photo.url }}" alt="" width="600">
            <br>
            <a href="{% url 'post_detail' post_pk=post.pk %}">{{ post.created_date }}</a>

            {% for comment in post.comment_set.all %}
                <div>
                    <span>{{ comment.author }}</span>
                    <span>{{ comment.content }}</span>
                </div>
            {% endfor %}

            <form action="{% url 'comment_create' post_pk=post.pk %}" method="POST">
                {% csrf_token %}
                <input type="text" name="comment">
                <input type="hidden" name="post_pk" value="{{ post.pk }}">
                <button type="submit">ADD COMMENT</button>
            </form>
        </div>

    {% endfor %}

{% endblock %}