{% extends 'common/base.html' %}

{% block content %}

    <div class="content">
        <form action="">
            <input type="text" name="q" placeholder="YouTube에서 검색할 키워드를 입력해주세요.">
            <select name="type" id="">
                <option value="video">Video</option>
                <option value="channel">Channel</option>
                <option value="playlist">Playlist</option>
            </select>
            <input type="text" name="maxResults" placeholder="최대 검색 결과 수를 입력하세요.">
            <button type="submit">SEARCH</button>
        </form>

        <div class="test">
            <ul>
                {% for item in search_result %}
                    <li>
                        <p>{{ item.youtube_title }}</p>
{#                        <p>{{ item.id.videoId }}</p>#}
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ item.youtube_id }}" frameborder="0" allowfullscreen></iframe>
{#                        <img src="{{ item.snippet.thumbnails.high.url }}" alt="" class="">#}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}